
$govuk-assets-path: '/assets/'; // This points to where compiled assets will be in your wwwroot

@import "../../node_modules/govuk-frontend/dist/govuk/index";
@import "../../node_modules/accessible-autocomplete/dist/accessible-autocomplete.min";
@import "_step-by-step-nav.scss";

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    align-items: stretch;
    box-sizing: border-box;
}

.dashboard-grid__item {
    display: flex;
    flex-direction: column;
    border: 0.1px solid transparent;
    margin: 0;
    box-sizing: border-box;
}

.dashboard-card {
    padding: 20px;
    flex: 1;
    background: #f3f2f1;
    position: relative;
}

.dashboard-card--disabled {
    opacity: 0.6;
    pointer-events: none;
}

.dashboard-card__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
    display: none;
}

.dashboard-card--disabled .dashboard-card__overlay {
    display: block;
}

.dashboard-card__title {
    margin-top: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 640px) {
    .govuk-grid-row {
        flex-wrap: wrap;
    }

    .govuk-grid-column-one-quarter {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 16px;
    }
}


.govuk-overflow-container {
    overflow-x: auto;
    width: 100%;
}

.govuk-table__cell,
.govuk-table__header {
    white-space: normal;
}

.details-text {
    white-space: pre-line;
}

.moj-notification-badge {
    display: inline-block;
    min-width: 0.75em;
    min-height: 1.25em;
    margin-left: 0.5em;
    padding: 1px 0.25em 0;
    border-radius: 10em;
    outline: 4px solid #d4351c;
    outline-offset: -0.1em;
    color: #ffffff;
    background-color: #d4351c;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25;
    // Ensure good visibility
    .govuk-visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}

@media (min-width: 40.0625em) {
    .moj-notification-badge {
        font-size: 1rem;
        line-height: 1.25;
    }
}
