
$govuk-assets-path: '/assets/'; // This points to where compiled assets will be in your wwwroot

@import "../../node_modules/govuk-frontend/dist/govuk/index";
@import "../../node_modules/accessible-autocomplete/dist/accessible-autocomplete.min";
@import "../../node_modules/@ministryofjustice/frontend/moj/all";
@import "_step-by-step-nav.scss";

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    align-items: stretch;
    box-sizing: border-box;
}

.dashboard-grid__item {
    display: flex;
    flex-direction: column;
    border: 0.1px solid transparent;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.dashboard-card {
    padding: 20px;
    height: 100%;
    background: #f3f2f1;
    position: relative;
}

.dashboard-card--disabled {
    opacity: 0.6;
    pointer-events: none;
}

.dashboard-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
    display: none;
}

.dashboard-card--disabled .dashboard-card__overlay {
    display: block;
}

.dashboard-card__title {
    margin-top: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 640px) {
    .govuk-grid-row {
        flex-wrap: wrap;
    }

    .govuk-grid-column-one-quarter {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 16px;
    }

    .dashboard-card {
        height: auto;
    }
}


.govuk-overflow-container {
    overflow-x: auto;
    width: 100%;
}

.govuk-table__cell,
.govuk-table__header {
    white-space: normal;
}

.details-text {
    white-space: pre-line;
}